# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui

ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_tecnica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:
# seu código aqui

temperatura_global = pd.Series(data=anomalia_tecnica, index=ano)
temperatura_global

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [4]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

dic_temperaturas = pd.Series(dic_temperaturas)
dic_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [54]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

df = pd.DataFrame(arr)
df

             0           1           2
0   104.172856  103.783267   99.965665
1   101.055091   84.153943  102.679122
2   101.770044   98.557652   98.989643
3    96.309781   87.786106   99.435783
4    68.351965   81.565770  103.254038
5   103.745695  110.403116   97.593422
6    92.417941  121.842456  100.955307
7    99.503999   99.873817   90.926970
8   106.638667   92.808080  112.499157
9    92.465298   91.967864   88.435733
10  105.845624   85.387906  121.108621
11  100.471541  111.904575   93.835224
12  103.733162   83.954241  116.151684
13  101.239853   82.242913   99.103626
14  104.341479  107.868265  103.258125
15   93.601817  116.955844   96.265897
16   98.521081   98.042040   96.756242
17   91.728494   95.119591  102.393827
18   93.080877  112.748142   94.866881
19  107.435942   70.465957   90.669083

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [71]:
#seu código aqui

df = pd.DataFrame(arr, index=range(1, 21), columns=['x1', 'x2', 'x3'])
df

            x1          x2          x3
1   104.172856  103.783267   99.965665
2   101.055091   84.153943  102.679122
3   101.770044   98.557652   98.989643
4    96.309781   87.786106   99.435783
5    68.351965   81.565770  103.254038
6   103.745695  110.403116   97.593422
7    92.417941  121.842456  100.955307
8    99.503999   99.873817   90.926970
9   106.638667   92.808080  112.499157
10   92.465298   91.967864   88.435733
11  105.845624   85.387906  121.108621
12  100.471541  111.904575   93.835224
13  103.733162   83.954241  116.151684
14  101.239853   82.242913   99.103626
15  104.341479  107.868265  103.258125
16   93.601817  116.955844   96.265897
17   98.521081   98.042040   96.756242
18   91.728494   95.119591  102.393827
19   93.080877  112.748142   94.866881
20  107.435942   70.465957   90.669083

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [72]:
# seu código aqui

df['media'] = (df['x1'] + df['x2'] + df['x3']) / 3
df

            x1          x2          x3       media
1   104.172856  103.783267   99.965665  102.640596
2   101.055091   84.153943  102.679122   95.962719
3   101.770044   98.557652   98.989643   99.772446
4    96.309781   87.786106   99.435783   94.510556
5    68.351965   81.565770  103.254038   84.390591
6   103.745695  110.403116   97.593422  103.914078
7    92.417941  121.842456  100.955307  105.071901
8    99.503999   99.873817   90.926970   96.768262
9   106.638667   92.808080  112.499157  103.981968
10   92.465298   91.967864   88.435733   90.956298
11  105.845624   85.387906  121.108621  104.114050
12  100.471541  111.904575   93.835224  102.070447
13  103.733162   83.954241  116.151684  101.279696
14  101.239853   82.242913   99.103626   94.195464
15  104.341479  107.868265  103.258125  105.155956
16   93.601817  116.955844   96.265897  102.274519
17   98.521081   98.042040   96.756242   97.773121
18   91.728494   95.119591  102.393827   96.413971
19   93.080877  112.748142   94.866881  100.231966
20  107.435942   70.465957   90.669083   89.523661

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [74]:
# seu código aqui

df['log_med'] = np.log(df['media'])
df['log_med']

1     4.631234
2     4.563960
3     4.602892
4     4.548712
5     4.435456
6     4.643564
7     4.654645
8     4.572319
9     4.644217
10    4.510379
11    4.645487
12    4.625663
13    4.617886
14    4.545372
15    4.655445
16    4.627661
17    4.582650
18    4.568651
19    4.607487
20    4.494503
Name: log_med, dtype: float64